
/BIN
/*.sfc
/*.gba
/*.sav
/*.srm

/TOOLS/CLib
/TOOLS/EventAssembler
/TOOLS/64tass*
/TOOLS/ParseFile*

/.CACHE

/FE8/**/*.lyn.event
/FE8/**/*.o
/FE8/**/*.dmp
/FE8/**/*.asm
/FE8/**/*.txt.bin

*.sublime*
